.carrer-item {
  display: flex;
  justify-content: center;
  width: 80%;
  min-width: 470px;
  margin: 25px auto;
  font-size: 18px;
}

.carrer-item .date {
  width: 150px;
  min-width: 150px;
}

.carrer-item .event {
  width: 40%;
  min-width: 320px;
}

.carrer-item .space-center {
  width: 20%;
}

.carrer-item .space-left {
  width: calc(40% - 150px);
}
