.carrer-item {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 25px auto;
  font-size: 22px;
}

.carrer-item .date {
  width: 180px;
  min-width: 180px;
}

.carrer-item .event {
  width: 40%;
  min-width: 320px;
}

.carrer-item .space-center {
  width: 20%;
}

.carrer-item .space-left {
  width: calc(40% - 180px);
}

@media screen and (max-width:500px) {
  .carrer-item{
    display: block;
  }

  .carrer-item .date {
    font-size: 18px;
    width: 100%;
    min-width: 0;
    margin-bottom: 12px;
  }

  .carrer-item .event {
    font-size: 16px;
    width: 100%;
    min-width: 0;
    margin-left: 8%;
  }

  .carrer-item .space-center {
    width: 0;
  }

  .carrer-item .space-left {
    width: 0;
  }

}
