.contact {
  width: 80%;
  margin: 0 auto;
}

.contact .mail {
  text-align: center;
  font-size: 30px;
  margin: 75px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin: 0 25px;
  width: 30px;
}

.link img {
  width: 100%;
}
