.contact {
  width: 80%;
  margin: 0 auto;
}

.contact .mail {
  text-align: center;
  font-size: 30px;
  margin: 75px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin: 0 25px;
  width: 30px;
}

.link img {
  width: 100%;
}

@media screen and (max-width:500px) {
  .contact .mail {
    font-size: 20px;
    margin: 75px 0;
  }

  .link {
    margin: 0 10px;
    width: 30px;
  }
}
