.photo {
  width: 80%;
  max-width: 800px;
  margin: 3vw auto;
}

.photo .photo-text {
  font-size: calc(12px + 1vw);
  line-height: calc(18px + 1vw);
}

.photo .photo-more {
  margin: 5vh;
}
.photo .more-button {
  color: black;
  border : solid 1px #2c2c2c;
  font-size: calc(16px + 1vw);
  width: 20vw;
  margin: 0 auto;
  text-align: center;
  padding: 1vh 2vh;
  transition: .3s;
}

.photo .more-button:hover {
  color: white;
  background-color: black;
}
