.photo {
  width: 80%;
  max-width: 800px;
  margin: 35px auto;
}

.photo .photo-text {
  font-size: 22px;
  line-height: 38px;
  text-align: center;
}

.photo .photo-more {
  margin: 35px;
}
.photo .more-button {
  color: black;
  border : solid 1px black;
  font-size: 22px;
  width: 180px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  transition: .5s;
}

.photo .more-button:hover {
  color: white;
  background-color: black;
}
