.product-item {
  width: 25%;
  min-width: 300px;
  border : solid 1px #c3c3c3;
  box-shadow : 0 3px 8px rgba(100, 100, 100, 0.3) ;
  margin: 20px;
}

.product-item .product-image {
  width: 100%;
}

.product-image img {
  width: 100%;
  object-fit: cover;
}

.product-item .product-text {
  margin: 15px;
}
.product-item .product-name {
  padding-bottom: 15px;
  font-size: 22px;
}

.product-item .product-introduction {
  font-size: 16px;
  line-height: 26px;
  color: #4c4c4c;
}

.product-item a {
  color: black;
  text-decoration:none;
}
.product-item a:hover {
  color: #8c8c8c;
}

@media screen and (max-width:500px) {
  .product-item .product-name {
    font-size: 18px;
  }

  .product-item .product-introduction {
    font-size: 14px;
    line-height: 24px;
  }
}
