body {
  font-family: 'Quicksand', 'Yu Gothic', 'YuGothic', 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.effect-fadein-top {
  animation: appear 4s forwards;
}

.effect-fadein-header {
  animation-name: appear;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes appear{
  0% {
    transform: translate(0,10px);
    opacity: 0;
  }
  100% {
    transform: translate(0,0);
    opacity: 1;
  }
}

.effect-fade {
  opacity: 0;
  transform: translate(0, 45px);
  transition: all 1200ms;
}

.effect-fade.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}
