.header{
  display: flex;
  align-items: center;
  height: 7vh;
  width: 100%;
  position: fixed;
  top: 0;
  background: #ffffff;
  box-shadow: 0 0 2px rgba(100, 100, 100, 0.3) ;
  z-index: 5;
}

.header .logo {
  margin-right: auto;
  height: calc(18px + 1vw);
  padding: 10px;
}

.header .logo img {
  height: 100%;
}

.menu {
  margin: 0 1.5vw;
  font-size: calc(8px + 1vw);
}

.menu a {
  color: black;
}

@media screen and (max-width:500px) {
  .header {
    height: 60px;
  }

  .header .logo {
    height: 40%;
    margin-left: 5px;
  }
  .menu {display: none;}
}
